<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>定期医療　入力画面</title>
</head>
<body>
定期医療の入力画面はここに作成願います
</body>
</html> -->

<html>
  <head>
    <meta charset="utf-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="/js/tc_input.js"></script>
  </head>
  <body>
    日付を選択してください。
    <input type="text" id="target">
  </body>

</html>