<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/wl_common.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

  <!-- jQuery -->
  <script src="/js/jquery-3.6.0.min.js"></script>
  <!-- jQuery UI -->
  <script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <!-- jQuery local -->
  <script src="/js/wl_common.js"></script>

  <title>終身生命　契約照会画面</title>
</head>

<body>

<!-- 解約／取消　確認画面（モーダルウィンドウで表示） -->
<div id="overlay" class="overlay"></div>
<!--<div class="modal-window"> -->

  <div class="subtitle">解約／取消　確認画面（作成中）</div>

    <!-- <button class="js-close button-close" th:text="'×'"></button> -->

    <form th:method="post" th:action="@{/wl/s/contract}" th:object="${wlKConfimation}">
      <div class="Input-Form-cancel">
        <div class="Date-box--w03">
          <div id="expiration_age" class="Select-wrap Select-wrap-cancel">
            <div class="Form-tbl__td_completion">
              <div th:if="*{select_cancel=='1'}"><div th:text="解約"></div></div>
              <div th:if="*{select_cancel=='2'}"><div th:text="取消"></div></div>
            </div>
            <!--
            <select class="Custom-select"  th:field="*{select_cancel}" >
              <option label="解約"  value="1" >解約</option>
              <option label="取消"  value="2" >取消</option>
            </select>
            -->
          </div>
        </div>

        <table id="cancel-date-table" class="Date-box-cancel">
          <tr><td><div class="Date-box-cancel-title">解約日</div></td> </tr>
          <tr>
            <td>
              <div>
                <div class="Form-tbl__td_completion">
                  <div th:text="*{cancel_date}"></div>
                </div>
              </div>
            </td>
          </tr>

          <tr><td><div class="Date-box-cancel-title">解約返戻金</div></td> </tr>
          <tr>
            <td>
              <div>
                <div class="Form-tbl__td_completion">
                  <div th:text="*{cancellation_refund}"></div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!--照会画面の情報は、解約・取消処理を行なうために必要なため、引き継ぐ -->
      <input type="hidden" th:field="*{wlSContract.insured_person_id}">
      <input type="hidden" th:field="*{wlSContract.insured_person_name_kanji}">
      <input type="hidden" th:field="*{wlSContract.insured_person_name_kana}">
      <input type="hidden" th:field="*{wlSContract.insured_person_birth_date}">
      <input type="hidden" th:field="*{wlSContract.insured_person_sex}">
      <input type="hidden" th:field="*{wlSContract.ip_update_at}">
      <input type="hidden" th:field="*{wlSContract.contract_id}">
      <input type="hidden" th:field="*{wlSContract.contract_history_id}">
      <input type="hidden" th:field="*{wlSContract.contract_start_date}">
      <input type="hidden" th:field="*{wlSContract.contract_end_date}">
      <input type="hidden" th:field="*{wlSContract.contract_end_reason}">
      <input type="hidden" th:field="*{wlSContract.contract_maturity_date}">
      <input type="hidden" th:field="*{wlSContract.security_type}">
      <input type="hidden" th:field="*{wlSContract.entry_age}">
      <input type="hidden" th:field="*{wlSContract.payment_method}">
      <input type="hidden" th:field="*{wlSContract.insurance_money}">
      <input type="hidden" th:field="*{wlSContract.premium}">
      <input type="hidden" th:field="*{wlSContract.premium_payment_term}">
      <input type="hidden" th:field="*{wlSContract.contract_term}">
      <input type="hidden" th:field="*{wlSContract.payment_expiration_age}">
      <input type="hidden" th:field="*{wlSContract.c_update_at}">
      <input type="hidden" th:field="*{wlSContract.payment_control_id}">
      <input type="hidden" th:field="*{wlSContract.payment_amount}">
      <input type="hidden" th:field="*{wlSContract.p_update_at}">

      <br>
      <br>
      <br>
      <br>
      <div id="confirmation_btn" class="Control-area-cancel">
        <button class="Control-area__btn Control-area__btn-cancel">更新</button>
      </div>

    </form>

<!--    </div> -->
<!--
  <header class="Header">
    <div class="Header__inner">
      <a href="/cm/s/security">ダミー保険事務処理システム</a>
      <div class="mod_dropnavi ex_clearfix">
      <ul>
      <li class="parent"><a href="javascript:void(0)">メニュー</a>
        <div class="mod_dropnavi_child">
        <ul>
          <li><button class="btn js-open button-open">解約／取消</button></li>
          <li>
            <form th:method="post" th:action="@{/wl/s/list}" th:object="${wlSSearch}" >
              <input type="hidden" th:field="*{insured_person_id_str}">
              <button class="btn">一覧へ戻る</button>
            </form>
          </li>
        </ul>
      </div>
      </li>
      </ul>
      </div>
      </div>
  </header>

  <div class="container">
    <div class="title">終身生命　契約照会画面</div>
  </div>



  <table class="table_completion" th:object="${wlSContract}">
    <tr>
      <td class="td_completion">
        <div class="Box-flame">
          <table class="Form-tbl">
            <caption class="caption-com"
              th:text="|被保険者情報　　※最終更新日：*{#temporals.format(ip_update_at, 'yyyy/MM/dd HH:mm')}|">
            </caption>

            <tbody>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">
                  <div th:text="被保険者番号"></div>
                </div></th>
                <td class="Form-tbl__td_completion">
                  <div th:text="*{insured_person_id}"></div>
                </td>
              </tr>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">被保険者氏名（漢字）</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:text="*{insured_person_name_kanji}"></div>
                </td>
              </tr>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">被保険者氏名（カナ）</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:text="*{insured_person_name_kana}"></div>
                </td>
              </tr>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">生年月日</div></th>

                <td class="Form-tbl__td_completion">
                  <div th:text=  "*{#strings.substring(insured_person_birth_date,0,4)} + '/'
                                + *{#strings.substring(insured_person_birth_date,4,6)} + '/'
                                + *{#strings.substring(insured_person_birth_date,6,8)}">
                  </div>
                </td>
              </tr>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">性別</div></th>
                <td class="Form-tbl__td_completion">

                  <div th:if="*{insured_person_sex=='1'}"><div th:text="男性"></div></div>
                  <div th:if="*{insured_person_sex=='2'}"><div th:text="女性"></div></div>

                </td>
              </tr>

            </tbody>

          </table>

          <table class="between-table">
            <tr>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="between-cell">
        </div>
        <div class="Box-flame" th:if="*{payment_control_id != 0}">
          <table class="Form-tbl">
            <caption class="caption-com"
              th:text="|支払情報　　※最終更新日：*{#temporals.format(p_update_at, 'yyyy/MM/dd HH:mm')}|">
            </caption>

            <tbody>

              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp">
                  <div th:text="支払管理番号"></div>
                  <div th:text="支払額"></div>
                </th>
                <td class="Form-tbl__td_completion">
                  <div th:text="*{payment_control_id}"></div>
                  <div th:text="|*{#numbers.formatInteger(payment_amount, 3, 'COMMA')}円|"></div>
                </td>
              </tr>

            </tbody>

          </table>
        </div>

      </td>
      <td>
        <table class="between-table">
          <tr>
            <td></td>
          </tr>
        </table>
      </td>
      <td class="td_completion">
        <div class="Box-flame">
          <table class="Form-tbl">
            <caption class="caption-com"
               th:text="|契約情報　　※最終更新日：*{#temporals.format(c_update_at, 'yyyy/MM/dd HH:mm')}|">
            </caption>

            <tbody>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">契約番号</div></th>
                <td class="Form-tbl__td_completion"><div
                    th:text="*{contract_id}"></div></td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">契約履歴番号</div></th>
                <td class="Form-tbl__td_completion"><div
                    th:text="*{contract_history_id}"></div></td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">契約開始日</div></th>
                <td class="Form-tbl__td_completion">
                  <div id="contract_start_date"
                       th:text=  "*{#strings.substring(contract_start_date,0,4)} + '/'
                                + *{#strings.substring(contract_start_date,4,6)} + '/'
                                + *{#strings.substring(contract_start_date,6,8)}">
                  </div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                  <th class="Form-tbl__th_comp"><div class="Form-name">契約終了日</div></th>
                  <td class="Form-tbl__td_completion">
                  <div th:if="*{contract_end_date} != '00000000'">
                    <div th:text=  "*{#strings.substring(contract_end_date,0,4)} + '/'
                                  + *{#strings.substring(contract_end_date,4,6)} + '/'
                                  + *{#strings.substring(contract_end_date,6,8)}">
                    </div>
                  </div>

                  </td>
              </tr>
              <tr class="Form-tbl__tr">
                  <th class="Form-tbl__th_comp"><div class="Form-name">契約終了事由</div></th>
                  <td class="Form-tbl__td_completion"><div th:text="*{contract_end_reason}"></div></td>
              </tr>
              <tr class="Form-tbl__tr">
                  <th class="Form-tbl__th_comp"><div class="Form-name">契約満期日</div></th>
                  <td class="Form-tbl__td_completion">
                    <div th:text="終身"></div>
                  </td>
              </tr>
              <tr class="Form-tbl__tr">
                  <th class="Form-tbl__th_comp"><div class="Form-name">保障種類</div></th>
                  <td class="Form-tbl__td_completion"><div th:text="終身生命"></div></td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">加入年齢</div></th>
                <td class="Form-tbl__td_completion">
                  <div id="entry_age"  th:text="|*{entry_age}　歳|"></div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">払込方法</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:if="*{payment_method=='1'}">
                    <div th:text="月払"></div>
                  </div>
                  <div th:if="*{payment_method=='3'}">
                    <div th:text="年払"></div>
                  </div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">死亡保険金</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:text="|*{#numbers.formatInteger(insurance_money/10000, 3, 'COMMA')}　万円|"></div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">掛金</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:text="|*{#numbers.formatInteger(premium, 3, 'COMMA')}　円|"></div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">掛金払込期間</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:if="*{premium_payment_term!=99}">
                    <div th:text="|*{premium_payment_term}　年|"></div>
                  </div>
                  <div th:if="*{premium_payment_term==99}">
                    <div th:text="終身"></div>
                  </div>
                </td>
              </tr>
              <tr class="Form-tbl__tr">
                  <th class="Form-tbl__th_comp"><div class="Form-name">契約期間</div></th>
                  <td class="Form-tbl__td_completion"><div th:text="終身"></div></td>
              </tr>
              <tr class="Form-tbl__tr">
                <th class="Form-tbl__th_comp"><div class="Form-name">払込満了年齢</div></th>
                <td class="Form-tbl__td_completion">
                  <div th:if="*{payment_expiration_age!=99}">
                    <div th:text="|*{payment_expiration_age}　歳|"></div>
                  </div>
                  <div th:if="*{payment_expiration_age==99}">
                    <div th:text="終身">
                  </div>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <br>
-->
</body>
</html>