/*
@charset "UTF-8";

.system-name{
  height: 30px;
  background-color: green;
  color:white;
  font-size:20px;
}

.title{
  width: 1000px;
  height: 70px;
  text-align:center;
  margin: 0 auto;
  color: #808080;
  margin-top: 10px;
  font-size:40px;
}
*/