/*
@charset "utf-8";

div.errArea{
    padding:0 15px;
    margin-top:15px;
    height:100%;
    font-size:90%;
    font-weight:bold;
    color:#FF6565;
}
div.first-errArea{
    margin-top:40px;
}
div.errArea img{
    position: relative;
    left: 0px;
    vertical-align: top;
    padding-right: 10px;
    box-sizing: content-box;
}
div.errArea ul {
    padding-top:20px;
    padding-left:38px;
}
div.errArea ul li {
    margin-left: 1.25em;
    margin-bottom: 0.3em;
}
td.errPoint{
    background-color:#FFD9D9;
}
.l-base div.caution{
    clear:both;
    margin: 8px 0 15px 0;
    padding: 6px 8px;
    line-height:1.4;
}
.l-base div.caution div.box{
    border:#ce870b 2px solid;
    background-color:#fbf3e6;
    padding:10px 10px 8px 10px;
}
.l-base div.caution p.icon{
    margin:0;
    padding-left:30px;
    background:url(/catalog/img/icon_caution.png) top left no-repeat;
    font-size:100%;
    font-weight:bold;
    color:#784E06;
}
.l-base div.caution div.box ul{
    margin:0;
    padding:0;
}
.l-base div.caution ul li{
    margin-left: 1.25em;
    margin-bottom: 0.3em;
    list-style: none;
}
.l-base div.caution ul.link-list{
    border: none;
}
.l-base div.caution ul.link-list li{
    list-style: none;
    margin-left: 0.83em;
    margin-bottom: 0.5em;
    padding-left: 1.25em;
    text-indent: -1.25em;
}
.l-base div.caution ul.link-list a{
    background-image: url(/catalog/img/icon_link_01.gif);
    background-repeat: no-repeat;
    padding-left: 1.25em;
    background-position: 8px 0.5em;
}
*/
/* ----- processingInfo ----- */
/*
ins.bajl-processing-info {
    position: absolute;
    z-index: 1000001;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 75px;
    height: auto;
    margin: 0;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
}
ins.bajl-processing-info img {
    display: block;
    margin: 0 auto 0.5em;
    padding: 0;
    border: none;
}
*/